.players .hand {
  height: 418px;
  position: relative;
}

.iCard {
  width: 13em;
  position: absolute;
  background-color: white;
}

.cardtop {
  font-size: 2rem;
  line-height: 1;
}

.cardmid {
  font-size: 7rem;
  line-height: 2;
  text-align: center;
}

.cardbottom {
  font-size: 2rem;
  line-height: 1;
  transform: rotate(180deg);
}

.hearts .suit::after {
  content: "\2665";
}

.spades .suit::after {
  content: "\2660";
}

.clubs .suit::after {
  content: "\2663";
}

.diams .suit::after {
  content: "\2666";
}